.signBox{
    left: 0;
    top: 40px;
    bottom: 0;
    width: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
  }

  .logoPic{
    position: absolute;
    top: 220px;
    left: 125px;
    width: 230px;
  }

  .signButton{
    position: relative;
    left: 125px;
    width: 230px;
    top: 350px;
    margin: 10px;
  }